# Ignore virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.Python
env/
venv/
.env
.venv
*.log
.git
.gitignore
.DS_Store

# Ignore data
# data/raw/
# data/processed/

# Ignore notebooks
notebooks/

# Ignore eval
eval/

# Ignore images
images/
