[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
sentence-transformers = "*"
pandas = "*"
pillow = "*"
scikit-learn = "*"
flask = "*"
streamlit = "*"
einops = "*"
lancedb = "*"
transformers = "*"
together = "*"
python-dotenv = "*"
tqdm = "*"
gradio = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"

[requires]
python_version = "3.12"
